$primary-color: #10E98C;
$secondary-color: #082129;
$inf-modal-color: #243034;
$inf-card-color: rgba(217, 217, 217, 0.4);
$social-icon-color: rgba(16, 233, 140, 0.7);
$inf-disable-color: rgba(0, 102, 113, 0.5);
$inf-page-active-color: rgba(217, 217, 217, 0.3);
$inf-card-header-color: rgba(217, 217, 217, 0.4);
$inf-header-color: #404040;