$font-xxl: 36px;
$font-xl: 24px;
$font-lg: 20px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;
$font-xxs: 10px;
$xxl: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
$sidebar-xxl: 327px;
$sidebar-xl: 250px;
$sidebar-md: 200px;