@import "bootstrap/scss/bootstrap.scss";
@import "./variables/sizes.scss";
@import "./variables/colors.scss";

@import "./background.scss";
@import "./topnavbar.scss";
@import "./sidebar.scss";
@import "./discover.module.scss";
@import "./influencercard.scss";

.marketing {
  margin: 4rem 0;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.test {
  color: red !important;
}

.test:hover {
  cursor: pointer;
}

@media (min-width: $xxl) {
}

@media (min-width: $xl) {
}

@media (min-width: $md) {
}

@media (min-width: $sm) {
}

@media (min-width: $xs) {
}
