@import "./variables/sizes.scss";
@import "./variables/colors.scss";
.influencer-card {
  
  background: $inf-modal-color;
  height: auto;
  margin-left: 1.9vw;
  margin-top: 5vh;
  position: relative;
  display: inline-block;
  flex-flow: column;
  .name-area {
    height: 38px;
    background: $inf-card-header-color;
    color: #ffffff;
    font-size: $font-md;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: auto;
  }

  .name {
    margin-top: 7px;
  }

  .personnel-info {
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 23px;
    display: flex;
    flex: auto;
  }

  .personnel-symbol {
    color: white;
    font-weight: 400;
    font-size: $font-sm;
    align-items: center;
    line-height: 21px;
  }

  .user-symbol-link {
    margin-left: 32px;
    margin-top: 23px;
  }

  .youtube-dot {
    height: 19px;
    width: 19px;
    background: white;
    border-radius: 50%;
    border: none;
    position: relative;
  }

  .youtube-dot:hover {
    cursor: pointer;
    transition-delay: 0.1s;
    background: rgba(255, 255, 255, 0.912);
  }

  .dot {
    height: 19px;
    width: 19px;
    margin-left: 13px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: none;
    position: relative;
  }

  .dot:hover {
    cursor: pointer;
    transition-delay: 0.1s;
    background: rgba(255, 255, 255, 0.912);
  }

  .youtube-icon {
    width: 0.1vw;
    height: 0.1vh;
  }

  .social-link-icon {
    width: 15px;
    height: 10.96px;
    position: absolute;
    left: 0.01%;
    right: 0.01%;
    top: 0%;
    bottom: 0.4%;
    margin-top: 3.8px;
    margin-left: 2px;
  }

  .select-image {
    width: 100%;
  }

  .border-line {
    margin-top: 1vh;
    width: 75%;
    position: relative;
    border-bottom: 2px solid #ffffff4d;
    margin-left: auto;
    margin-right: auto;
  }

  .followers {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 52px;
    flex: auto;
  }

  .followers-letter {
    float: left;
  }

  .followers-count {
    float: right;
    color: $primary-color !important;
  }

  .select {
    margin-top: 32px;
    bottom: 0px;
    width: 100%;
  }

  .property {
    flex: auto;
    display: flex;
    flex-flow: column;
  }
  .er-followers {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 19px;
    font-size: $font-sm;
    flex: auto;
  }

  .price-range {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 14px;
    font-size: $font-sm;
    flex: auto;
  }

  .personnel-social-link {
    margin-top: 10px;
  }

  //   Responsive Design
  @media (max-width: $md) {
  }

  @media (min-width: $md) {
  }

  @media (min-width: $lg) {
  }

  @media (min-width: $xl) {
  }

  @media (min-width: $xxl) {
    .youtube-dot {
      height: 19px;
      width: 19px;
    }

    .dot {
      height: 19px;
      width: 19px;
      margin-left: 13px;
    }

    .social-link-icon {
      width: 15px;
      height: 10.96px;
      position: absolute;
      left: 0.01%;
      right: 0.01%;
      top: 0%;
      bottom: 0.4%;
      margin-top: 3.8px;
      margin-left: 2px;
    }

    .user-picture {
      width: 98px;
      height: 98px;
    }

    .name {
      font-size: $font-md;
    }

    .user-symbol-link {
      margin-left: 32px;
      margin-top: 23px;
    }
    .followers {
      font-size: $font-sm;
    }

    .personnel-info {
      font-size: $font-sm;
      line-height: 21px;
      align-items: center;
      font-weight: 600;
    }
  }
}
