.sidebar-layout {
  position: absolute;
  background-color: rgba(8, 33, 41, 0.5);
  color: white;
  width: 15vw;
  height: -webkit-fill-available;
  background-blend-mode: soft-light;
  backdrop-filter: blur(15px);
  margin-top: 6vh;
  z-index: 2;

  .compaign-layout {
    z-index: 1;
    position: relative;
    margin-top: 150px;
    height: 67px;
  }

  .menu-item-subject {
    font-size: $font-md;
    color: white;
    margin-left: 19.5px;
    position: absolute;
    font-weight: 400;
    line-height: 30px;
  }

  .log-out-subject {
    font-size: $font-md;
    color: white;
    margin-left: 19.5px;
    position: absolute;
    font-weight: 400;
    line-height: 30px;
  }

  .menu-item-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    height: 5vh;
  }

  .menu-item-list:hover {
    cursor: pointer;
  }

  .menu-item-area:hover {
    cursor: pointer !important;
    background: $inf-page-active-color;
  }

  .below-menu-item-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .compaign-layout:hover {
    background-color: $inf-page-active-color !important;
    cursor: pointer;
  }

  .coming-soon-menu {
    margin-top: 40%;
  }

  .coming-soon-menu-subject {
    font-size: $font-md;
    color: white;
    margin-left: 19.5px;
    position: absolute;
    font-weight: 600;
    line-height: 25px;
  }

  .booster-menu-list {
    margin-left: 63px;
    margin-top: 27px;
    font-size: $font-md;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.8;
    color: white;
  }

  .menu-item {
    position: relative !important;
    margin-left: 18%;
  }

  .log-out-item {
    width: 27px;
    height: 30px;
    position: relative !important;
    margin-left: 25%;
  }

  .coming-menu-item {
    position: relative !important;
  }

  .log-out-item-list {
    margin-top: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 5vh;
  }

  @media (max-width: $md) {
    display: none;
    margin-top: 53px;
    width: 34vw;
    .menu-item-list {
      width: 100%;
    }
    .below-menu-item-list {
      width: 100%;
      margin-top: 2vh;
      height: 6vh;
    }
    .menu-item {
      margin-left: 1vw;
      width: 4vw;
      height: 3vh;
    }
    .menu-item-subject {
      margin-left: 3vw;
    }
    .coming-menu-item {
      width: 4vw;
      height: 3vh;
    }
    .booster-menu-engage {
      width: 100%;
    }
    .booster-menu {
      width: 100%;
    }
    .booster-menu-list {
      margin-left: 0px;
    }
    .menu-item-subject {
      font-size: $font-sm;
    }
    .coming-soon-menu-subject {
      font-size: $font-sm;
      margin-left: 3vw;
    }
    .log-out-item {
      width: 4vw;
      height: 3vh;
      margin-left: 4vw;
    }
  }

  @media (min-width: $md) {
    width: 20vw;
    .menu-item {
      margin-left: 0vw;
      width: 2.6vw;
      height: 3vh;
    }

    .menu-item-subject {
      font-size: 13px;
      color: white;
      margin-left: 1.2vw;
      position: absolute;
      font-weight: 400;
      line-height: 25px;
    }

    .coming-menu-item {
      width: 2.9vw;
      height: 3.2vh;
      position: relative;
      margin-left: 0vw;
    }

    .log-out-item {
      width: 2.9vw;
      height: 3.2vh;
      position: relative;
      margin-left: 2.5vw;
    }

    .coming-soon-menu-subject {
      font-size: $font-sm;
      color: white;
      margin-left: 1.2vw;
      position: absolute;
      font-weight: 400;
      line-height: 20px;
    }

    .booster-menu-list {
      margin-left: 1vw;
      margin-top: 1.5vh;
      font-size: 11px;
      font-weight: 500;
      line-height: 20px;
      opacity: 0.8;
      color: white;
    }

    .log-out-subject {
      font-size: $font-md;
      color: white;
      margin-left: 3.1vw;
      position: absolute;
      font-weight: 400;
      line-height: 23px;
    }

    .menu-item-area {
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
    }

    .below-menu-item-list {
      margin-top: 3.1vh;
      height: 6.2vh;
    }
  }

  @media (min-width: $xl) {
    width: 20vw;
    .menu-item {
      margin-left: 2.6vw;
      width: 1.8vw;
      height: 3vh;
    }

    .menu-item-subject {
      font-size: $font-md;
      color: white;
      margin-left: 19.5px;
      position: absolute;
      font-weight: 400;
      line-height: 25px;
    }

    .coming-menu-item {
      margin-left: 2.6vw;
      width: 1.8vw;
      height: 3vh;
    }

    .log-out-item {
      width: 25px !important;
      height: 27px;
      position: relative !important;
      margin-left: 60.5px;
    }

    .coming-soon-menu-subject {
      font-size: $font-md;
      color: white;
      margin-left: 19.5px;
      position: absolute;
      font-weight: 600;
      line-height: 25px;
    }

    .booster-menu-list {
      margin-left: 30px;
      margin-top: 27px;
      font-size: $font-md;
      font-weight: 500;
      line-height: 25px;
      opacity: 0.8;
      color: white;
    }

    .log-out-subject {
      font-size: $font-lg;
      color: white;
      margin-left: 19.5px;
      position: absolute;
      font-weight: 500;
      line-height: 20px;
    }

    .menu-item-area {
      padding-top: 18px;
      padding-bottom: 18px;
      margin-top: 30px;
    }

    .below-menu-item-list {
      margin-top: 30px;
    }
  }

  @media (min-width: $lg) {
    .menu-item {
      margin-left: 1.4vw;
    }
    .coming-menu-item {
      margin-left: 1.4vw;
    }
    .booster-menu-list {
      margin-left: 2.1vw;
    }
  }

  @media (min-width: $xxl) {
    width: 17vw;
    .menu-item {
      margin-left: 11%;
      width: 1.6vw;
      height: 3vh;
    }

    .menu-item-subject {
      font-size: $font-lg;
      color: white;
      margin-left: 1.3vw;
      position: absolute;
      font-weight: 400;
      line-height: 30px;
    }

    .coming-menu-item {
      width: 1.5vw;
      height: 2.9vh;
      position: relative;
      margin-left: 1.5vw;
    }

    .coming-soon-menu-subject {
      font-size: $font-lg;
      color: white;
      margin-left: 1.5vw;
      position: absolute;
      font-weight: 600;
      line-height: 25px;
    }

    .booster-menu-list {
      margin-left: 2.5vw;
      margin-top: 27px;
      font-size: 17px;
      font-weight: 600;
      line-height: 30px;
      opacity: 0.8;
      color: white;
    }

    .log-out-item {
      width: 27px !important;
      height: 30px;
      position: relative !important;
      margin-left: 25%;
    }

    .log-out-subject {
      font-size: $font-lg;
      color: white;
      margin-left: 1.5vw;
      position: absolute;
      font-weight: 400;
      line-height: 30px;
    }

    .menu-item-area {
      padding-top: 2.2vh;
      padding-bottom: 2.2vh;
    }

    .below-menu-item-list {
      margin-top: 40px;
    }
  }
}
